<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
<div class="back">
    <div class="back-up">
        <img class="back-img" src="/images/logo_n.png" >
        <div>
            <span>一种生活方式</span>
        </div>
    </div>
    <div>
        <span class="back-mid">让组团记账更简单</span></div>
    <div class="back-down">
        <img class="qq-img" src="/images/qq.png"  onclick="window.open('<%= root%>/auth/qq')">
        <img src="/images/line.png" >
        <img class="weixin-img" src="/images/weixin.png"  onclick="window.open('<%= root%>/auth/godutch')">
    </div>
</div>
</body>
</html>
