<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css"> 
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/pubsub-js/1.5.3/pubsub.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script>
      window.rootPath = '<%= root%>';
    </script>
  </head>
  <body data-spy="scroll">
    <div id="react-content"></div> 
    <!-- <script src="http://localhost:8080/webpack-dev-server.js"></script> -->
    <script src="/javascript/bundle.js"></script>
  </body>
</html>