<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body style="width: 100%; height: 768px;margin: 0;padding: 0">
<div style="text-align: center;width: 100%;height: 100%;background-image: url('/images/back.jpg')">
    <div>
        <img src="/images/logo_n.png" alt="" style="margin-top: 10%;width: 100px;height: 100px;">
        <div>
            <span style="font-size: 2.2em;font-family: '楷体 Bold Oblique', 楷体;font-weight: 700;font-style: oblique;color: #4C4B4B;">一种生活方式</span>
        </div>
    </div>
    <div>
        <span style="font-size: 3em;font-family: '微软雅黑 Bold', 微软雅黑;font-weight: 700;font-style: normal;color: #2D2C2C">让组团记账更简单</span></div>
    <div style="margin-top: 20px;">
        <img src="/images/qq.png" alt="" onclick="window.open('<%= root%>/auth/qq')" style="cursor: pointer;width: 50px;height: 50px;margin-right: 10px;">
        <img src="/images/line.png" alt="">
        <img src="/images/weixin.png" alt="" onclick="window.open('<%= root%>/auth/godutch')" style="cursor: pointer;width: 50px;height: 50px;margin-left: 10px">
    </div>
</div>
</body>
</html>
