@charset "utf-8";
// _config.scss
$breakpoints: (
        'xs': 'only screen and ( min-width: 414px)',
        'sm': 'only screen and ( min-width: 768px)',
        'md': 'only screen and ( min-width: 992px)',
        'lg': 'only screen and ( min-width: 1280px)',
) !default;
// _mixins.scss
@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);

  @if not $query {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }

  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}
$font-family: 'Microsoft Yahei';
.row{
  margin: 0;
}
.main-panel{
  margin-top: 80px;
  margin-bottom: 70px;
	@include respond-to(xs) {
      min-height: 530px;
    }
    @include respond-to(sm) {
      min-height: 800px;
    }
    @include respond-to(md) {
      min-height: 500px;
    }
    @include respond-to(lg) {
      min-height: 700px;
    }
} 

.nav{
  li:hover{
    // border-bottom: 2px solid #57c5f7;    
  }
}