.back{
	background: #eee important;
}
.title{
    font-size: 6rem;
    font-family: "Microsoft Yahei";
    font-weight: 700;
    color: #777;
}
div{
	text-align: center;
}
.mid{
	font-size: 4rem;
    font-family: "Microsoft Yahei";
    font-weight: 600;
/*    color: rgb(45,183,245);*/
}