$border:1px solid #DADADA;
$backColor:#f8f8f8;
.search-list:hover{
    background-color:#eaf8fe;
}
.search-list{
    background-color: $backColor;
    font-size:14px;
    border-left:$border;
    border-right:$border;
    border-bottom:$border;
    padding-left: 6px;
    border-radius: 4px;
}